.registerContainer{
  background-image: url(../../../public/register.jpg);
  background-size: cover;
  margin-top: 10vh;
}

.inputWidth {
  width: 20vw;
}

.errorInput {
  color: red;
}
.register{
  color: red;
}
