container-fluid{
  background-color: aqua;
}

.bgRed {
  background-image: url(../../../public/wallpaperRed.jpg);
  background-size: cover;
  background-position: center;
}

.bgBlue {
  background-image: url(../../../public/wallpaperBlue.jpg);
  background-size: cover;
  background-position: center;
}

.h1main {
  color: white;
  text-shadow: 0 0 5px gold;
  background: radial-gradient(rgba(255, 0, 0, 0.700), rgb(75, 0, 0));
  border: 0.2em solid goldenrod;
  border-radius: 0.2em;
  border-style: groove;
}

.carrousel {
  margin: 7em 0 2em 0;
  border-radius: 5em;
  border: 0.5em solid goldenrod;
  border-style: groove;
  height: 40vh;
  width: 5em;
  background-size: cover;
  background-position: center;
}
.textShadow{
  background: radial-gradient(rgba(255, 0, 0, 0.700), rgb(75, 0, 0));
  border: 0.05em solid goldenrod;
  border-style: groove;
  color: white;
  text-shadow: 0 0 5px gold;
}
.poniter{
  cursor: pointer;
}

.img1 {
  background-image: url(../../../public/estates.jpg);
}

.img2 {
  background-image: url(../../../public/vehicles.jpg);
}

.img3 {
  background-image: url(../../../public/objects.jpg);
}
.boxLinks{
  border: 0.05em solid goldenrod;
  border-bottom: 1em;
  margin: 0 2vw 0 2vw;
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 25vw;
}
.boxVehicle{
  background-image: url(../../../public/catapulta.jpg);
  cursor: pointer;
}
.boxEstate{
  background-image: url(../../../public/town\ hall.jpg);
  cursor: pointer;
}
.boxObject{
  background-image: url(../../../public/gold.jpg);
  cursor: pointer;
}