
.navbarDesign {
  height: 5em;
  background-image: url(../../../public/wallpaperBlue.jpg);
  background-size: cover;
  background-position-y: 50vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.woloLogo{
  background: radial-gradient(yellow,goldenrod);
  margin-left: 2em;
  border: 0.1em solid goldenrod;
  border-radius: 0.2em;
  border-style: groove;
}
.spanWhite{
  color: white;

}
.spanBlack{
  color: black;

}
.spanRed{
  color: red;

}
.spanBlue{
  color: blue;
}
.loginLink {
  text-align: center;
  margin-right: 1vh;
  color: navy;
  background: whitesmoke;
  border: 0.1em solid goldenrod;
  border-radius: 0.2em;
  border-style: groove;
  font-size: 1.5em;
  cursor: pointer;
  text-shadow: 0 0 15px cyan;
}
.registerLink {
  text-align: center;
  margin-left: 1vh;
  color: goldenrod;
  background: radial-gradient(rgba(255, 0, 0, 0.700), rgb(75, 0, 0));
  border: 0.1em solid goldenrod;
  border-radius: 0.2em;
  border-style: groove;
  font-size: 1.5em;
  cursor: pointer;
  text-shadow: 0 0 15px black;
}

.loginLink:hover {
  transition: color 1s linear;
  color: navy;
  text-shadow: 0 0 15px blue;
}

.listDesign {
  list-style: none;
  width: 15vw;
  margin-right: 5vw;
}

.listDesign >  {
  margin-right: 0.5em;
}

.cursor-pointer {
  color: black;
  cursor: pointer;
}
.cursor-pointer:hover {
  transition: color 1s linear;
  color: white;
  text-shadow: 0 0 15px gold;
}

.fontsize1-5em {
  font-size: 1.5em;
}

.dropDownDesign {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  padding: 0 !important;
}

.userIconDesign {
  width: 30px;
  height: 30px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdownMenuDesign {
  background-color: black !important;
}

.fontFamilyGillSans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  color: #fff !important;
}

.dropdown-item:active {
  background-color: black !important;
}
.dropdown-item:hover {
  background-color: black !important;
}

@media (max-width: 800px) {
  .logo {
    height: 6vh;
    width: 7vh;
  }
}

@keyframes colorChange {
  from {
    color: gold;
    text-shadow: 0 0 15px yellow;
  }

  to {
    color: withe;
    text-shadow: 0 0 15px yellow;
  }
}
