.loginContainer{
  background-image: url(../../../public/login.jpg);
  background-size: cover;
}

.errorInput {
  color: red;
}

.colortxt {
  animation: colorChange 5s infinite alternate;
  color: #9700cc;
  cursor: pointer;
}

.h1main {
  color: white;
  text-shadow: 0 0 5px gold;
  background: radial-gradient(rgba(255, 0, 0, 0.700), rgb(75, 0, 0));
  border: 0.2em solid goldenrod;
  border-radius: 0.2em;
  border-style: groove;
  height: 10vh;
}
.login{
  color: red;
}